<div class="container center">
    <div class="center jumbotron">
        <div *ngIf="show_edit !== true">
            <h2 class="display-5">{{record.exercise.name}}</h2>
            <p>{{record.exercise.description}}</p>
            <h3 class="center">Goal</h3>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>   </th>
                        <th class="input-header" *ngFor="let x of [].constructor(this.targetNumSets); let i = index" scope="col">Set {{i + 1}}</th>
                        <th>   </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">Reps</th>
                        <td *ngFor="let goal of record.targetSets">{{goal.reps}}</td>
                    </tr>
                    <tr *ngIf="use_weight === true">
                        <th scope="col">Weight</th>
                        <td *ngFor="let goal of record.targetSets">{{goal.weight}}</td>
                    </tr>
                </tbody>
            </table>
            <h3 class="center" *ngIf="record.actualSets.length !== 0">Result</h3>
            <table class="table table-borderless" *ngIf="record.actualSets.length !== 0">
                <thead>
                    <tr>
                        <th>   </th>
                        <th class="input-header" *ngFor="let x of [].constructor(this.actualNumSets); let i = index" scope="col">Set {{i + 1}}</th>
                        <th>   </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">Reps</th>
                        <td *ngFor="let result of record.actualSets">{{result.reps}}</td>
                    </tr>
                    <tr *ngIf="use_weight === true">
                        <th scope="col">Weight</th>
                        <td *ngFor="let result of record.actualSets">{{result.weight}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="show_edit === true">
            <app-workout-add-exercise [record]="record" (save_add_exercise)="saveRecord($event)"></app-workout-add-exercise>
        </div>
    </div>
    <div id="buttons">
        <button type="button" class="btn btn-outline-primary" *ngIf="show_edit !== true" (click)="show_edit = !show_edit">Edit</button>
        <button type="button" class="btn btn-outline-danger" *ngIf="show_edit === true" (click)="show_edit = !show_edit">Cancel</button>
        <button type="button" class="btn btn-outline-danger" *ngIf="show_remove !== true" (click)="show_remove = !show_remove">Remove</button>
        <button type="button" class="btn btn-outline-danger" *ngIf="show_remove === true" (click)="removeRecord()">Yes Remove Exercise</button>
        <button type="button" class="btn btn-outline-danger" *ngIf="show_remove === true" (click)="show_remove = !show_remove">Cancel</button>
    </div>
</div>
