#logo-img {
    width: 3rem;
}

.header {
    font-weight: bold;
}

#left {
  text-align: center;
  float: left;
  width: 50%;
}

#right {
  text-align: center;
  float: right;
  width: 50%;
}

#buttons {
  text-align: right;
}

.center {
  text-align: center !important;
  float: center !important;
  margin: 0rem;
}

.table {
  text-align: center;
  display: inline-table;
  margin: 0rem;
  width: 40%;
}

.jumbotron {
  padding: 1rem;
  margin: 1rem;
}

.btn {
  width: 20% !important;
  margin: .25rem;
}

.dropdown-item {
  color: White;
}

.table-button {
  width: 25rem;
}

.table-input-head {
  display: block;
}

.form-control {
  width: 125% !important; 
  margin: 1rem;
}

.table-input {
  width: 2rem;
  padding: .75rem;
}

.input-table {
    width:90% !important; 
    margin-left:5% !important; 
    margin-right:5% !important;
}

.input-header {
  width: 5rem;
  margin: 1rem;
}