<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="exercise-listing">
        <div>{{myExercise.name}}: 
            <ul class="muscle-group-list">
                <li *ngFor='let muscleGroup of myExercise.muscleGroups'>{{muscleGroup.name}}</li>
            </ul>
        </div>
        <p>&emsp;{{myExercise.description}}</p>
    </div>
</body>
</html>