<div class="container">
    <div class="row">
        <div class="col">
            <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" deepChangeDetection="true" [events]="calendarWorkouts"></full-calendar>
        </div>
        <div class="col-3">
            <p></p>
            <p></p>
            <!-- Form to add new workout -->
            <h5>Add New Workout:</h5>
            <div>
                <div>
                    <form [formGroup] = "addWorkoutForm" (ngSubmit)="addWorkout()">
                        <div class="form-group">
                            <input class="form-control" type="text" formControlName="title" placeholder="title">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="date" formControlName="date" placeholder="date (yyyy-mm-dd)">
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit" [disabled]="!addWorkoutForm.valid">Add Workout</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <!-- Form to clone a new workout -->
            <h5>Clone Past Workout:</h5>
            <div>
                <form [formGroup] = "addPastWorkoutForm" (ngSubmit)="addPastWorkout()">
                    <div class="dropdown form-group">
                        <select formControlName="workout" class="form-control btn btn-primary">
                            <option class="dropdown-item" *ngFor="let workout of workoutsList" [value]="workout.id">{{workout.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="title" placeholder="title">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="date" formControlName="date" placeholder="date (yyyy-mm-dd)">
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit" [disabled]="!addPastWorkoutForm.valid">Clone Past Workout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Displays lists of workouts and current workouts on calendar -->
<div class="container mt-4">
    <nav>
        <button class="btn btn-primary" (click)="toggleEditor('showAllWorkouts')">All Workouts</button>
        <button class="btn btn-primary ml-2" (click)="toggleEditor('showCalendarWorkouts')">Calendar Workouts</button>
    </nav>
    <hr>
</div>
<div *ngIf="showAllEditor">
    <div class="container mt-4">
        <div *ngFor='let workout of workoutsList' [ngClass]="{'active': workout.active}">
            <div class="container alert alert-secondary">
                <h5>{{workout.name}} on {{workout.date.toDateString()}}</h5>
                <div>
                    <button class="btn btn-primary" routerLink="/workout/{{workout.id}}">View Workout</button>
                    <button class="btn btn-outline-danger ml-2" *ngIf="removeButton !== true"(click)="removeButton = !removeButton; workout.active = !workout.active">Delete Workout</button>
                    <button class="btn btn-outline-danger ml-2" *ngIf="removeButton === true && workout.active" (click)="deleteWorkout(workout); removeButton = !removeButton">Yes Delete Workout</button>
                    <button class="btn btn-outline-danger ml-2" *ngIf="removeButton === true && workout.active" (click)="removeButton = !removeButton; workout.active = !workout.active">Cancel</button>
                    <button class="btn btn-primary float-right" *ngIf="workout.onCalendar === false" (click)="addWorkoutToCalendar(workout)">Add Workout to Calendar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showCalendarEditor">
    <div class="container mt-4">
        <div *ngFor='let workout of workoutsList'>
            <div class="container alert alert-secondary" *ngIf="workout.onCalendar === true">
                <h5>{{workout.name}} on {{workout.date.toDateString()}}</h5>
                <div>
                    <button class="btn btn-primary" routerLink="/workout/{{workout.id}}">View Workout</button>
                    <button class="btn btn-outline-danger ml-2" (click)="removeWorkoutFromCalendar(workout)">Remove Workout from Calendar</button>
                </div>
            </div>
        </div>
    </div>
</div>

