<div class="container">
    <div class="row">
        <div class="col">
            <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" deepChangeDetection="true" [events]="calendarWorkouts"></full-calendar>
        </div>
        <div class="col-3">
            <p></p>
            <p></p>
            <h5>Add New Workout:</h5>
            <div>
                <div>
                    <form [formGroup] = "addWorkoutForm" (ngSubmit)="addWorkout($event)">
                        <div class="form-group">
                            <input class="form-control" type="text" formControlName="title" placeholder="title">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="date" formControlName="date" placeholder="date (yyyy-mm-dd)">
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">Add Workout</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <h5>Clone Past Workout:</h5>
            <div>
                <form [formGroup] = "addPastWorkoutForm" (ngSubmit)="addPastWorkout()">
                    <div class="dropdown form-group">
                        <select formControlName="workout" class="form-control btn btn-primary">
                            <option class="dropdown-item" *ngFor="let workout of workoutsList" [id]="workout.id">{{workout.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="title" placeholder="title">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="date" formControlName="date" placeholder="date (yyyy-mm-dd)">
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Clone Past Workout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div *ngFor='let workout of workoutsList'>
        <div class="container alert alert-secondary">
            <h5>{{workout.name}} on {{workout.date.toDateString()}}</h5>
            <div>
                <button class="btn btn-primary mr-2" (click)="deleteWorkout(workout)">Remove Workout</button>
                <button class="btn btn-primary" routerLink="/workout/{{workout.id}}">View Workout</button>
            </div>
        </div>
    </div>
</div>
